.grid {
  display: grid;
  max-width: 1920px;
  min-height: 760px;
  position: relative;

  grid-template-areas:	"projImg1 projImg1 projBlurb1"
                        "proj_blurb2 proj_img2 proj_img2";


  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50vh 50vh;
  grid-gap: 6px;
  grid-row-gap: 10px;

}

.projImg1 {
  grid-area: projImg1;
  background-image: url(media/website.png);
  background-size: cover;

}

.projBlurb1 {
  grid-area: projBlurb1;
  background-color: pink;
  padding:15px;
  font-size: 16px;

}

.proj_img2 {
  grid-area: proj_img2;
  background-image: url(media/mouse.jpg);
  background-size: cover;
}

.proj_blurb2 {
  grid-area: proj_blurb2;
  background-color: #FF86C2;
}


body {
    margin: 0px;
    background-color: black;
}
