.grid {
  display: grid;
  max-width: 1920px;
  min-height: 760px;
  position: relative;

  grid-template-areas:	"projImg1 projImg1 projBlurb1"
                        "projBlurb2 projImg2 projImg2"
                        "projImg3 projImg3 projBlurb3";


  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50vh 50vh 50vh;
  grid-gap: 6px;
  grid-row-gap: 10px;

}

.projImg1 {
  grid-area: projImg1;
  background-image: url(media/website.png);
  background-size: cover;
  filter: grayscale(100%);

}

.projBlurb1 {
  grid-area: projBlurb1;
  background-color: white;
  padding:15px;
  font-size: 16px;

}

.projImg2 {
  grid-area: projImg2;
  background-image: url(media/mouse.jpg);
  background-size: cover;
  filter: grayscale(100%);
}

.projBlurb2 {
  grid-area: projBlurb2;
  background-color: white;
}

.projImg3 {
  grid-area: projImg3;
  background-image: url(media/subway.jpg);
  background-size: cover;
  filter: grayscale(100%);

}

.projBlurb3 {
  grid-area: projBlurb3;
  background-color: white;
  padding:15px;
  font-size: 16px;

}



body {
    margin: 0px;
    background-color: black;
}

h3, p {
  padding: 20px;
}
